.contacts {
    .formWrapp {
        margin: auto;

        .contactform {
            background-color: #fff;
            padding: 25px;

            .group {
                position: relative;
                margin-bottom: 45px;

                &.required {
                    label::after {
                        content: "*";
                        color: red;
                        font-weight: bold;
                        width: 5px;
                        height: 5px;
                        margin-left: 5px;
                    }
                }
            }

            input {
                font-size: 18px;
                padding: 10px 10px 10px 5px;
                display: block;
                width: 100%;
                border: none;
                border-bottom: 1px solid #757575;

            }

            input:focus {
                outline: none;
            }

            /* LABEL ======================================= */
            label {
                color: #999;
                font-size: 18px;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 5px;
                top: 10px;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }

            /* active state */
            input:focus~label,
            input:valid~label {
                top: -20px;
                font-size: 14px;
                color: #5264AE;
            }
        }

        .btn-wrapp {
            text-align: right;
        }
    }
}