@import "../../styles/varibels.scss";

.nawWrapp {
    box-sizing: border-box;
    padding: 5px 0;
    text-align: left;

    position: relative;

    .mainNav {
        margin-top: 35px;

        @include respond-to(handhelds) {
            justify-content: space-between;
            display: flex;
        }
    }

    .mobileBtn {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;

        // @include respond-to(handhelds) {
        //     display: block;
        // }
    }

    .navLink {
        box-sizing: border-box;
        text-transform: uppercase;
        color: $colorTaxt_gl;
        font-weight: bold;
        padding: 12px 0;
        border-bottom: 2px solid transparent;

        @include respond-to(handhelds) {
            padding: 5px 0
        }

        &:hover {
            text-decoration: none;
            color: $linkColor;
        }


        &:not(:first-child) {
            margin-left: 65px;

            @include respond-to(handhelds) {
                margin-left: 20px;
            }
        }

        &.active {
            color: $linkColor;
            border-bottom: 2px solid $linkColor;
        }
    }
}