$colorTaxt_gl:#7F7F7F;
$linkColor:  #F4762B;

.mainNav {
    box-sizing: border-box;
    padding: 5px 0;
    text-align: left;
    margin-top: 35px;

    .navLink {
        box-sizing: border-box;
        text-transform: uppercase;
        color: $colorTaxt_gl;
        font-weight: bold;
        padding: 12px 0;
        border-bottom: 2px solid transparent;

        &:hover {
            text-decoration: none;
            color:  $linkColor;
        }


        &:not(:first-child) {
            margin-left: 65px;
        }

        &.active {
            color: $linkColor;
            border-bottom: 2px solid $linkColor;
        }
    }
}