@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "./controls.scss";
@import "./varibels.scss";



body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px;
    color: $colorTaxt_gl;
    background-color: #f9f9f9 !important;
}

header {
    height: $hederHeight;
}

main {
    min-height: calc(100vh - #{$hederHeight} - #{$footerHeight});
    box-sizing: border-box;
}

footer {
    height: $footerHeight;
}